footer {
    background-color: #242424;
    padding-top: 90px;
}

.footer { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.footer p {
    width: 60%;
    text-align: center;
    line-height: 22px;
    margin: 30px 0;
    font-size: 15px;
}

.footer-hr {
    width: 80%;
    height: 1px;
    background-color: #FFFFFF;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 30px 0;
}

.footer-icons a {
    color: #FFFFFF;
}

.footer-bottom {
    background-color: #303030;
    color: #FFFFFF;
    font-size: 13px;
    padding: 10px 0;
}

.footer-bottom p {
    text-align: center;
}

.tel {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 4px 10px 0 rgb(46 58 70 / 35%);
    position: fixed;
    bottom: 15px;
    left: 15px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tel i {
    color: #2db8f5;
    font-size: 40px;
}

.top {
    width: 60px;
    height: 60px;
    background-color: #FF4E00;
    border-radius: 15px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.top i{
    color: #FFFFFF;
    font-size: 20px;
}

@media screen and (max-width: 1024px){
    .footer-icons {
        width: 55%;
    }
}

@media screen and (max-width: 768px){
    .footer-icons {
        width: 75%;
    }
}

@media screen and (max-width: 425px){
    .footer p, .footer-hr{
        width: 95%;
        font-size: 14px;
    }

    .footer-icons{
        flex-direction: column;
        align-items: center;
    }

    .footer-icons .nav-link:not(:last-child){
        margin-bottom: 20px;
    }

    .tel{
        width: 60px;
        height: 60px;
        left: 10px;
    }

    .tel i{
        font-size: 26px;
    }
    .top{
        width: 40px;
        height: 40px;
        right: 10px;
    }

    .top i{
        font-size: 14px;
    }
    
}